@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  padding: 0;
  color: rgb(255, 253, 253);
}
html,body{
    height: 100%;
}
.img-home{
    height: 50vh;
}   
.container-image{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search{
    margin-top: 2vh;
    font-size: large;
    height: 7vh;
    width: 80%;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.5s;
    color: rgb(127, 125, 125);
}

#search:hover{
    box-shadow: 2px 4px  rgb(243, 243, 254);
}
.elem-container{
    background-image: linear-gradient(to bottom,rgb(0, 0, 0),rgb(245, 245, 245));
    width: 100%;
    height: fit-content;
}
.current-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}
.card{
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.099);
    backdrop-filter: blur(5px);
}
#time{
    font-size: x-small;
}

#temp,#wind,#rain ,#humidity, #visibility ,#today ,#weather-type , #high,#low,#sunrise,#sunset{
    margin-left: 1rem;
}
#today{
    font-size: large;
}
